<div class="pattern product-card">
    <div class="product-card__image-wrapper">
      <a href="{{ product_product.url }}">
        {% if product_product.featured_image %}
          <div>
            <img class="product-card__image" src="{{ product_product.featured_image | img_url: 'medium' }}" alt="{{ product_product.featured_image.alt }}"/>
          </div>

        {% else %}
          {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100' }}
        {% endif %}
      </a>
    </div>

    <div class="text-wrapper product-card__text-wrapper">
      {% if product_product.tags contains 'New Product' %}
        <div class="product-card__tag-wrapper">
          <span class="product-card__tag">New Product</span>
        </div>
      {% endif %}

      <h2 class="product-card__title">{{ product_product.title }}</h2>

      <p class="pattern-desc product-card__description">{{ product_product.description }}</p>

      <a class="product-card__link" href="{{ product_product.url }}">
        See Product
      </a>
    </div>
</div>
