{%- for block in section.blocks -%}
    <section class="featured-product-three">
      <img class="featured-product-three__img" src="{{ block.settings.image_mobile | img_url: 'master' }}">
      {%- comment -%} <img src="{{ block.settings.image_desktop | img_url: 'master' }}"> {%- endcomment -%}
      {%- comment -%} <p class="featured-product-three__title">
        {{ block.settings.hero_title }}
      </p> {%- endcomment -%}

      <div class="featured-product-three__text-wrapper">
        <h1 class="featured-product-three__product-name">
          {{ block.settings.product_name }}
        </h1>
        <a class="featured-product-three__link" href="products/{{ block.settings.product }}">See Product</a>
      </div>
    </section>
  {%- endfor -%}
  
  {% schema %}
    {
      "name": "Third Featured Product",
      "settings": [],
      "blocks": [
        {
          "type": "product",
          "name": "Product",
          "limit": 1,
          "settings": [
            {
              "type": "image_picker",
              "id": "image_mobile",
              "label": "Add Image for Mobile View"
            },
            {
              "type": "image_picker",
              "id": "image_desktop",
              "label": "Add Image for Desktop View"
            },
            {
              "type": "text",
              "id": "product_name",
              "label": "Product Name"
            },
            {
              "type": "product",
              "id": "product",
              "label": "Product"
            }
          ]
        }
      ]
    }
  {% endschema %}
  