<footer>
  {% render 'icon-footer-logo' %}

  {% for link in section.settings.menu.links %}
    <a href="{{ link.url }}">
      {{ link.title }}
    </a>
  {% endfor %}

  {%- for block in section.blocks -%}
    <div>
        <p>{{ block.settings.footer_description }}</p>
    </div>
  {%- endfor -%}

  <ul class="social-media-menu">
    <li>
      <a href="{{ section.settings.facebook_link }}"
        target="_blank"
        rel="noopener"
        aria-label="Facebook"
        aria-describedby="new-window-0">
        <span>{% render 'icon-facebook' %}</span>
      </a>
    </li>
    <li>
      <a href="{{ section.settings.twitter_link }}"
        target="_blank"
        rel="noopener"
        aria-label="Twitter"
        aria-describedby="new-window-0">
        <span>{% render 'icon-twitter' %}</span>
      </a>
    </li>
    <li>
      <a href="{{ section.settings.instagram_link }}"
        target="_blank"
        rel="noopener"
        aria-label="Instagram"
        aria-describedby="new-window-0">
        <span>{% render 'icon-instagram' %}</span>
      </a>
    </li>
  </ul>


  <p>&copy; {{ 'now' | date: '%Y' }} {{ shop.name | link_to: '/' }} | {{ powered_by_link }}</p>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Footer Menu",
        "default": "footer"
      }
    ],
    "blocks": [
      {
        "type": "footer",
        "name": "Footer Information",
        "limit": 1,
        "settings": [
            {
                "type": "textarea",
                "id": "footer_description",
                "label": "Footer Description"
            }
        ]
      },
      {
        "type": "footer_links",
        "name": "Social Media Links",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "facebook_link",
            "label": "Facebook Link"
          }, {
            "type": "text",
            "id": "twitter_link",
            "label": "Twitter Link"
          }, {
            "type": "text",
            "id": "instagram_link",
            "label": "Instagram Link"
          }
        ]
      }
    ]
  }
{% endschema %}