<div x-cloak x-data="{ mobileMenuOpen: false, searchBarOpen: false }" class="image-background">
  <div>
    <div class="header__wrapper">
      <div class="header__nav--mobile">
        <!-- STORE NAME / STORE LOGO -->
       {%- comment -%} <button class="header__hamburger-btn" type="button" id="flip">
          {% render 'icon-hamburger' %}
        </button>  {%- endcomment -%}

        <a href="#" class="menu-button [ js-menu-button ] header__hamburger-btn" id="flip">
          <div class="menu-icon">
           <span></span>
           <span></span>
           <span></span>
           <span></span>
          </div>
        </a>

        <a class="header__site-name" href="{{ shop.url }}">{{ shop.name }}</a>

        <!-- NAVIGATION LINKS FOR DESKTOP MENU -->
        <div class="desktop__nav-wrapper">
          <nav class="desktop__nav">
            <ul class="desktop__list">
              {% for link in section.settings.menu.links %}
                {% if link.links != blank %}
                  {% assign mobile_link_handle = link.handle | replace: "-", "_"  %}
                  <div x-data="{ {{ mobile_link_handle }}: false }">
                    <button type="button" x-on:click="{{ mobile_link_handle }} = ! {{ mobile_link_handle }}">
                      {{ link.title }}
                      {% render 'icon-dropdown' %}
                    </button>

                    <div x-show="{{ mobile_link_handle }}">
                      {% for childlink in link.links  %}
                        <li class="desktop__nav-list-item">
                          <a class="desktop__nav-list-item-link" href="{{ childlink.url }}">
                            {{ childlink.title }}
                          </a>
                        </li>
                      {% endfor %}
                    </div>
                  </div>
                {% else %}
                  <li class="header__nav-list-item">
                    <a class="desktop__nav-list-item-link" href="{{ link.url }}">
                      {{ link.title }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </nav>
        </div>

        <!-- Link to open the modal -->
        <a class="header__cart-icon" href="#ex1" rel="modal:open">
          {% render 'icon-shopping-cart' %}
          {% if cart.item_count > 0 %}
            <span class="header__cart-count">{{ cart.item_count }}</span>
          {% endif %}
        </a>
      </div>

      <!-- NAVIGATION MENU -->
      <nav class="header__nav header__nav--desktop">
        <ul class="header__nav-list">
          {% for link in section.settings.menu.links %}
            {% if link.links != blank %}
              {% assign link_handle = link.handle | replace: '-', '_' %}
              <div x-data="{ {{ link_handle }}: false }">
                <button x-on:click="{{ link_handle }} = ! {{link_handle}}">
                  {{ link.title }}
                  {% render 'icon-dropdown' %}
                </button>

                <div @click.away="{{link_handle}} = false" x-show="{{link_handle}}" x-transition:enter-end="opacity-100 translate-y-0" x-transition:enter-start="opacity-0 translate-y-3" x-transition:enter="transition ease-out duration-300" x-transition:leave-end="opacity-0 translate-y-3" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave="transition ease-out duration-300">
                  {% for childlink in link.links  %}
                    <li class="header__nav-list-item">
                      <a class="header__nav-link" href="{{ childlink.url }}">{{ childlink.title }}</a>
                    </li>
                  {% endfor %}
                </div>
              </div>
            {% else %}
              <li class="header__nav-list-item">
                <a class="header__nav-link" href="{{ link.url }}">
                  {{ link.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>

      <!-- CART BUTTON / ACCOUNT LINKS IF ENABLED -->
      <div>
        <div id="ex1" class="modal">
          {% if cart.item_count > 0 %}
            <div>

              <div class="modal-top-wrapper">
                <h3>Cart ({{ cart.item_count }})</h3>

                <button class="remove-all-btn" onclick="clearCart();">Remove all</button>
              </div>


              <form class="header__cart-form" action="{{ routes.cart_url }}" method="POST" novalidate>
                {% for item in cart.items %}
                  <div class="modal-wrapper-col">
                    <div>
                      <a href="{{ item.url }}">
                        {% if item.image %}
                          <img class="modal-cart-product-image" src="{{ item.image | img_url: 'small'}}" alt="{{ item.title | escape }}">
                        {% else %}
                          {{ 'product-1' | placeholder_svg_tag: 'h-20 w-20 object-cover border' }}
                        {% endif %}
                      </a>
                    </div>
                    <div class="modal-product-price-wrapper">
                      <p class="modal-product-title">{{ item.product.title | truncatewords: 1, "" }}</p>
                      <p class="modal-product-price">{{ item.line_price | money }}</p>
                    </div>
                    <div>
                      <td>
                        <div class="form-row justify-content-center">
                          <div class="form-group mb-0">
                            <div class="input-group mx-auto mb-0">
                              <div class="number-input">
                                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                                <input class="modal-input" name="updates[]" value="{{ item.quantity }}" min="1" type="number" id="updates_{{ forloop.index }}">
                                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </div>
                  </div>
                {% endfor %}
                <div class="total-price-wrapper">
                  <h3 class="total-price-heading">Total</h3>
                  <h3 class="total-price">{{ cart.total_price | money }}</h3>
                </div>

                <div>
                  <button class="modal-checkout-btn" name="checkout" type="submit">Checkout</button>
                </div>
              </form>
            </div>

          {% else %}
            <div class="cart-empty-wrapper">
              <h1 class="cart-empty-text">Your cart is empty</h1>
              <a class="cart-empty-cta-link" href="{{ routes.all_products_collection_url }}">Continue shopping</a>
            </div>
          {% endif %}
        </div>

        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <a class="header__customer-account-link" href="{{ routes.account_url }}">Account</a>
            {{ 'Logout' | customer_logout_link | replace: '<a', '<a' }}
          {% else %}
            {{ 'Login' | customer_login_link | replace: '<a', '<a' }}
            {{ 'Register' | customer_register_link | replace: '<a', '<a' }}
          {% endif %}
        {% endif %}
      </div>

      <!-- MOBILE MENU CONTAINER -->
      <div class="mobile-menu-container">
        <div>
          <div>
            <!-- NAVIGATION LINKS FOR MOBILE MENU -->
            <div class="mobile" id="panel">
            <div class="mobile__wrapper">
              {% for collection in collections %}
                  {% if collection.all_products_count > 0 %}
                          <div class="mobile__item">
                              <a href="{{ collection.url }}">
                                  <div class="mobile__img-wrapper">
                                      {% if collection.featured_image != blank %}
                                          {% assign collection_image = collection.featured_image %}
                                      {% else %}
                                          {% assign collection_image = collection.products.first.image %}
                                      {% endif %}
      
                                      <img class="mobile__img" src="{{ collection_image | img_url: 'medium' }}" alt="{{ collection.title | escape }}">
                                  </div>
                              </a>
                              <div class="mobile__text-wrapper">
                                  <h1 class="mobile__title">{{ collection.title }}</h1>
                                  <a class="mobile__link" href="{{ collection.url }}">Shop {% render 'icon-chevron-right' %}</a>
                              </div>
                          </div>
                  {% endif %}
              {% endfor %}
            </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "text",
        "id": "mobile_menu_title",
        "default": "Menu",
        "label": "Mobile Menu Title"
      }, {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "Heading Navigation Menu"
      }
    ]
  }
{% endschema %}