{%- for block in section.blocks -%}
  <section class="hero">
    <img class="hero__image" src="{{ block.settings.image_mobile | img_url: 'master' }}">

    {%- comment -%} {%- if block.settings.image_desktop != blank -%}
      <img class="hero__image hero__image--desktop" src="{{ block.settings.image_desktop | img_url: 'master' }}">
    {%- endif -%} {%- endcomment -%}

    <div class="hero__text-wrapper">
      <p class="hero__tag">
        {{ block.settings.hero_title }}
      </p>
      <h1 class="hero__product-name">
        {{ block.settings.product_name }}
      </h1>
      <p class="hero__product-description">
        {{ block.settings.product_description }}
      </p>
      <a class="hero__link" href="products/{{ block.settings.product }}">See Product</a>
    </div>
  </section>
{%- endfor -%}

{% schema %}
  {
    "name": "Hero Product",
    "settings": [],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "hero_title",
            "label": "Hero Title"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Add Image for Mobile View"
          },
          {
            "type": "image_picker",
            "id": "image_desktop",
            "label": "Add Image for Desktop View"
          },
          {
            "type": "text",
            "id": "product_name",
            "label": "Product Name"
          },
          {
            "type": "textarea",
            "id": "product_description",
            "label": "Product Description"
          }, {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ]
  }
{% endschema %}
