<section>
  {%- for block in section.blocks -%}
    <div>
      <h2>
        {{ block.settings.about_title }}
      </h2>
      <p>
        {{ block.settings.about_description }}
      </p>
      <img src="{{ block.settings.about_image_mobile | img_url: 'large' }}" alt="{{ block.settings.about_title }}">
      {%- comment -%} <img src="{{ block.settings.about_image_tablet | img_url: 'large' }}" alt="{{ block.settings.about_title }}">
      <img src="{{ block.settings.about_image_desktop | img_url: 'large' }}" alt="{{ block.settings.about_title }}"> {%- endcomment -%}
    </div>
  {%- endfor -%}
</section>

{% schema %}
  {
    "name": "About Section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "About Us"
      }
    ],
    "blocks": [
      {
        "type": "about",
        "name": "About Section",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "about_title",
            "label": "Title"
          }, {
            "type": "textarea",
            "id": "about_description",
            "label": "Description"
          }, {
            "type": "image_picker",
            "id": "about_image_mobile",
            "label": "Image - Mobile View"
          },
          {
            "type": "image_picker",
            "id": "about_image_tablet",
            "label": "Image - Tablet View"
          },
          {
            "type": "image_picker",
            "id": "about_image_desktop",
            "label": "Image - Desktop View"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "About"
      }
    ]
  }
{% endschema %}
