<section class="about">
  {%- for block in section.blocks -%}
    <div class="about__content-wrapper about__content-wrapper--product-pg-padding" data-aos="fade-up">
      <img class="about__img about__img--mobile" src="{{ block.settings.about_image_mobile | img_url: 'master' }}" alt="{{ block.settings.about_title }}">
      <img class="about__img about__img--tablet" src="{{ block.settings.about_image_tablet | img_url: 'master' }}" alt="{{ block.settings.about_title }}">
      <img class="about__img about__img--desktop" src="{{ block.settings.about_image_desktop | img_url: 'master' }}" alt="{{ block.settings.about_title }}">

      <div class="about__col-wrapper" data-aos="fade-up">
        <h2 class="about__title">
          {{ block.settings.about_title }}
        </h2>
        <p class="about__description">
          {{ block.settings.about_description }}
        </p>
      </div>
    </div>
  {%- endfor -%}
</section>

{% schema %}
  {
    "name": "About Section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "About Us"
      }
    ],
    "blocks": [
      {
        "type": "about",
        "name": "About Section",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "about_title",
            "label": "Title"
          }, {
            "type": "textarea",
            "id": "about_description",
            "label": "Description"
          }, {
            "type": "image_picker",
            "id": "about_image_mobile",
            "label": "Image - Mobile View"
          },
          {
            "type": "image_picker",
            "id": "about_image_tablet",
            "label": "Image - Tablet View"
          },
          {
            "type": "image_picker",
            "id": "about_image_desktop",
            "label": "Image - Desktop View"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "About"
      }
    ]
  }
{% endschema %}
