{% if cart.item_count > 0 %}
  <div>
      <div>
          <div>
              <h1>Your cart</h1>
              <a href="{{ routes.all_products_collection_url }}">Continue shopping</a>
          </div>
      </div>

      <div>
          <form action="{{ routes.cart_url }}" method="POST" novalidate>
              <table>
                  <thead>
                      <th>Product</th>
                      <th>Quantity</th>
                      <th>Total Price</th>
                  </thead>
                  <tbody>
                      {% for item in cart.items %}
                          <tr>
                              <td>
                                  <a href="{{ item.url }}">
                                      {% if item.image %}
                                          <img src="{{ item.image | img_url: 'small'}}" alt="{{ item.title | escape }}">
                                      {% else %}
                                          {{ 'product-1' | placeholder_svg_tag: 'h-20 w-20 object-cover border' }}
                                      {% endif %}
                                  </a>
                              </td>
                              <td>
                                  <a href="{{ item.url }}">{{ item.product.title | truncatewords: 5 }}</a>
                                  <span>{{ item.variant.title }}</span>
                                  <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0">Remove</a>
                              </td>
                              <td>
                                  <input name="updates[]" value="{{ item.quantity }}" min="1" type="number" id="updates_{{ forloop.index }}">
                              </td>
                              <td>
                                  {{ item.line_price | money }}
                              </td>
                          </tr>
                      {% endfor %}
                  </tbody>
              </table>

              <div>
                  <div>
                      <div>
                          <label for="cart_notes">Cart notes:</label>
                          <textarea id="cart_notes" name="note"></textarea>
                      </div>
                  </div>

                  <div>
                      {% for block in section.blocks %}
                          {% case block.type %}
                              {% when 'subtotal' %}
                                  <h3>Subtotal:
                                      <span>
                                          {{ cart.total_price | money }}
                                      </span>
                                  </h3>
                              {% when 'update_button' %}
                                  <div>
                                      <button name="update" type="submit">Update</button>
                                  </div>

                              {% when 'checkout_button' %}
                                  <div>
                                      <button name="checkout" type="submit">Checkout</button>
                                  </div>
                              {% else %}

                          {% endcase %}
                      {% endfor %}
                  </div>
              </div>
          </form>
      </div>
  </div>

{% else %}
  <div>
      <div>
          <h1>Your cart is empty</h1>

          <div>
              <a href="{{ routes.all_products_collection_url }}">Continue shopping</a>
          </div>
      </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Template Cart",
  "blocks": [
      {
          "type": "subtotal",
          "name": "Subtotal",
          "limit": 1
      },
      {
          "type": "update_button",
          "name": "Update Button",
          "limit": 1
      },
      {
          "type": "checkout_button",
          "name": "Checkout Button",
          "limit": 1
      }
  ]
}
{% endschema %}