<section class="list-collections">
    <h1 class="list-collections__section-title">{{ section.settings.title }}</h1>
    
    <div class="list-collections__wrapper">
        {% for collection in collections %}
            {% if collection.all_products_count > 0 %}
                    <div class="list-collections__item">
                        <a href="{{ collection.url }}">
                            <div class="list-collections__img-wrapper">
                                {% if collection.featured_image != blank %}
                                    {% assign collection_image = collection.featured_image %}
                                {% else %}
                                    {% assign collection_image = collection.products.first.image %}
                                {% endif %}

                                <img class="list-collections__img" src="{{ collection_image | img_url: 'medium' }}" alt="{{ collection.title | escape }}">
                            </div>
                        </a>
                        <div class="list-collections__text-wrapper">
                            <h1 class="list-collections__title">{{ collection.title }}</h1>
                            <a class="list-collections__link" href="{{ collection.url }}">Shop {% render 'icon-chevron-right' %}</a>
                        </div>
                    </div>
            {% endif %}
        {% endfor %}
    </div>
</section>

{% schema %}
{
  "name": "Template List Collections",
  "settings": [
      {
          "type": "text",
          "id": "title",
          "default": "Collections",
          "label": "Title"
      }
  ],
    "presets": [
        {
            "name": "List Collections",
            "category": "Collections"
        }
    ]
}
{% endschema %}