{% assign selected_variant = product.selected_or_first_available_variant %}

<section class="product">
    <div data-aos="fade-up">
        <img class="product__image" src="{{ product.featured_image | img_url: 'large' }}" alt="{{ product.title | escape }}">
    </div>

    <div data-aos="fade-up">
      {% form 'product', product, id: 'product-form', novalidate: 'novalidate' %}
        <input type="hidden" name="id" value="{{ selected_variant.id }}">

        {% if product.tags contains 'New Product' %}
            <p class="product__tag">New Product</p>
        {% endif %}

        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'title' %}
                <h1 class="product__title">
                  {{ product.title }}
                </h1>

            {% when 'description' %}
                <p class="product__description">
                  {{ product.description }}
                </p>

            {% when 'price' %}
              <div id="price-{{ section.id }}">

                <div class="product__price-wrapper">
                  <span class="product__price">
                    {{ selected_variant.compare_at_price | money }}
                  </span>
                  <span class="product__price">
                    {{ selected_variant.price | money }}
                  </span>
                </div>

                {% if selected_variant.price < selected_variant.compare_at_price %}
                  <span>Sale</span>
                {% endif %}
              </div>
            {% when 'variant_selector' %}
              <div>
                {% unless product.has_only_default_variant %}
                  <variant-selector data-url="{{ product.url }}" data-section="{{ section.id }}">
                    {% for option in product.options_with_values %}
                      <label for="Option-{{ section.id }}-{{ forloop.index0 }}">
                        {{ option.name }}
                      </label>

                      <div>
                        <select id="Option-{{ section.id }}-{{ forloop.index0 }}" name="options[{{ option.name | escape }}]">
                          {% for value in option.values %}
                            <option value="{{ value | escape }}" {% if option.selected_value == value %} selected="selected"{% endif %}>
                              {{ value }}
                            </option>
                          {% endfor %}
                        </select>
                      </div>

                      <script type="application/json">
                        {{ product.variants | json }}
                      </script>

                    {% endfor %}
                  </variant-selector>
                {% endunless %}
              </div>

            <div class="product__inputs-wrapper">
              {% when 'quantity' %}
                {% render 'product-quantity-selector' %}

              {% when 'checkout_buttons' %}
                <div class="product__btn-wrapper">
                  <button class="product__btn" type="submit" name="add" {% if selected_variant.available == false %} disabled {% endif %}>
                    {% if selected_variant.available == false %}
                      Sold out
                    {% else %}
                      Add to cart
                    {% endif %}
                  </button>
                </div>
            </div> 

            {% else %}

          {% endcase %}
        {% endfor %}
      {% endform %}
    </div>
</section>

  <div class="product-details">
    <div class="product-details__col-1" data-aos="fade-up">
      <h1 class="product-details__title">Features</h1>
      <p class="product-details__description">{{ product.metafields.custom.product_features | newline_to_br }}</p>
    </div>

    <div class="product-details__col-2" data-aos="fade-up">
      <h1 class="product-details__title">In the Box</h1>

      <div class="product-details__in-the-box-wrapper">
        <div class="product-details__in-the-box-wrapper-col-1">
          {% for item_quantity in product.metafields.custom.in_the_box_item_quantity.value %}
            <ul class="product-details__in-the-box-list">
              <li class="product-details__in-the-box-list-item">{{ item_quantity }}x</li>
            </ul>
          {% endfor %}
        </div>

        <div class="product-details__in-the-box-wrapper-col-2">
          {% for item in product.metafields.custom.in_the_box_items.value %}
            <ul class="product-details__in-the-box-list">
              <li class="product-details__in-the-box-list-item">{{ item }}</li>
            </ul>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <section class="product-images" data-aos="fade-up">
    <div class="product-images__wrapper">
      {% for image in product.metafields.custom.featured_images.value %}
        <img class="product-images__image" src="{{ image | img_url: "large" }}">
      {% endfor %}
    </div>
  </section>

</div>

{% schema %}
  {
    "name": "Product",
    "blocks": [
      {
        "type": "title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "price",
        "name": "Price",
        "limit": 1
      },
      {
        "type": "variant_selector",
        "name": "Variant Selector",
        "limit": 1
      },
      {
        "type": "quantity",
        "name": "Quantity",
        "limit": 1
      }, {
        "type": "description",
        "name": "Description",
        "limit": 1
      }, {
        "type": "checkout_buttons",
        "name": "Checkout Buttons",
        "limit": 1
      }
    ]
  }
{% endschema %}
