<div>
    <h1>Account</h1>

    <div>
        {% assign number_of_orders = customer.orders | size %}
        {% if number_of_orders > 0 %}
            <div>
                <h2>Order history</h2>

                {% paginate customer.orders by 10 %}
                    <div>
                        {% for order in customer.orders %}
                            <div>
                                <div>
                                    {% if order.line_items.first.image %}
                                        <img src="{{ order.line_items.first.image | img_url: 'medium' }}" alt="{{ order.line_items.first.image.alt }}">

                                    {% else %}
                                        {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-center object-cover' }}
                                    {% endif %}
                                </div>

                                <div>
                                    <div>
                                        <h3>{{ order.name | link_to: order.customer_url }}</h3>

                                        <p>{{ order.financial_status_label }}</p>
                                    </div>
                                    <div>
                                        <p>{{ order.fulfillment_status_label }}</p>
                                        <p>{{ order.total_price | money }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div>
                        {% render 'pagination', pagination: paginate %}
                    </div>
                {% endpaginate %}
            </div>
        {% else %}
            <div>
                <h2>You currently don't have any orders</h2>
            </div>
        {% endif %}

        <div>
            <h2>Account details</h2>

            {{ customer.default_address | format_address }}

            <a href="{{ routes.account_addresses_url }}">View addresses</a>
        </div>
    </div>
</div>