{% assign selected_variant = product.selected_or_first_available_variant %}

<div>
  <div>
    <div>
      {% for media in product.media %}
        <div>
          {% render 'product-media', media: media %}
        </div>
      {% endfor %}
    </div>

    <div>
      {% form 'product', product, id: 'product-form', novalidate: 'novalidate' %}
        <input type="hidden" name="id" value="{{ selected_variant.id }}">

        {% if product.tags contains 'New Product' %}
          <div class="new-tag">
            <span class="text-sm font-bold text-white uppercase">New Product</span>
          </div>
        {% endif %}

        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'title' %}
              <div>
                <h1>
                  {{ product.title }}
                </h1>
              </div>

            {% when 'description' %}
              <div>
                <p>
                  {{ product.description }}
                </p>
              </div>

            {% when 'price' %}
              <div id="price-{{ section.id }}">
                <span>{{ selected_variant.compare_at_price | money }}
                </span>
                <span>{{ selected_variant.price | money }}
                </span>

                {% if selected_variant.price < selected_variant.compare_at_price %}
                  <span>Sale</span>
                {% endif %}
              </div>
            {% when 'variant_selector' %}
              <div>
                {% unless product.has_only_default_variant %}
                  <variant-selector data-url="{{ product.url }}" data-section="{{ section.id }}">
                    {% for option in product.options_with_values %}
                      <label for="Option-{{ section.id }}-{{ forloop.index0 }}">{{ option.name }}
                      </label>

                      <div>
                        <select id="Option-{{ section.id }}-{{ forloop.index0 }}" name="options[{{ option.name | escape }}]">
                          {% for value in option.values %}
                            <option value="{{ value | escape }}" {% if option.selected_value == value %} selected="selected"{% endif %}>
                              {{ value }}
                            </option>
                          {% endfor %}
                        </select>
                      </div>

                      <script type="application/json">

                        {{ product.variants | json }}
                      </script>

                    {% endfor %}
                  </variant-selector>
                {% endunless %}
              </div>

            {% when 'quantity' %}
              <div>
                <div>
                  <input id="Quantity-{{ section.id }}" min="1" name="quantity" type="number" value="1">
                </div>
              </div>

            {% when 'checkout_buttons' %}
              <div>
                <button type="submit" name="add" {% if selected_variant.available == false %} disabled {% endif %}>
                  {% if selected_variant.available == false %}
                    Sold out
                  {% else %}
                    Add to cart
                  {% endif %}
                </button>
              </div>
            {% else %}

          {% endcase %}
        {% endfor %}
      {% endform %}
    </div>
  </div>

  <div>
    <h1>Features</h1>
    <p>{{ product.metafields.custom.product_features }}</p>
  </div>

<div>
  <h1>In the Box</h1>
  <div>
    {% for item_quantity in product.metafields.custom.in_the_box_item_quantity.value %}
      <ul>
        <li>{{ item_quantity }}x</li>
      </ul>
    {% endfor %}
  </div>

  <div>
    {% for item in product.metafields.custom.in_the_box_items.value %}
      <ul>
        <li>{{ item }}</li>
      </ul>
    {% endfor %}
  </div>
</div>

<div>
{% for image in product.metafields.custom.featured_images.value %}
  <img src="{{ image | img_url: "large" }}">
{% endfor %}
</div>

</div>

{% schema %}
  {
    "name": "Product",
    "blocks": [
      {
        "type": "title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "price",
        "name": "Price",
        "limit": 1
      },
      {
        "type": "variant_selector",
        "name": "Variant Selector",
        "limit": 1
      },
      {
        "type": "quantity",
        "name": "Quantity",
        "limit": 1
      }, {
        "type": "description",
        "name": "Description",
        "limit": 1
      }, {
        "type": "checkout_buttons",
        "name": "Checkout Buttons",
        "limit": 1
      }
    ]
  }
{% endschema %}