<div x-cloak x-data="{ new_address: false }">
  <div>
    <h1>Addresses</h1>
    <button type="button" x-on:click="new_address = true">Create new address</button>
    <a href="{{ routes.account_url }}">Back to account</a>
  </div>

  <div x-show="new_address">
    <div>
      <div>
        <h2>New address</h2>
        <button x-on:click="new_address = false">{% render 'icon-close' %}
        </button>
      </div>

      {% form 'customer_address', customer.new_address %}
        <div>
          <label for="address_fname_{{ form.id }}">First name</label>
          <input type="text" name="address[first_name]" id="address_fname_{{ form.id }}" value="{{ form.first_name }}">
        </div>


        <div>
          <label for="address_lname_{{ form.id }}">Last name</label>
          <input type="text" name="address[last_name]" id="address_lname_{{ form.id }}" value="{{ form.last_name }}">
        </div>

        <div>
          <label for="address_company_{{ form.id }}">Company</label>
          <input type="text" name="address[company]" id="address_company_{{ form.id }}" value="{{ form.company }}">
        </div>

        <div>
          <label for="address_address1_{{ form.id }}">Address 1</label>
          <input type="text" name="address[address1]" id="address_address1_{{ form.id }}" value="{{ form.address1 }}">
        </div>

        <div>
          <label for="address_address2_{{ form.id }}">Address 2</label>
          <input type="text" name="address[address2]" id="address_address2_{{ form.id }}" value="{{ form.address2 }}">
        </div>

        <div>
          <label for="address_city_{{ form.id }}">City</label>
          <input type="text" name="address[city]" id="address_city_{{ form.id }}" value="{{ form.city }}">
        </div>

        <div>
          <label for="address_country_{{ form.id }}">Country</label>
          <select name="address[country]" id="address_country_{{ form.id }}" value="{{ form.country }}" data-country-selector data-id="{{ form.id }}">
            {{ all_country_option_tags }}
          </select>
        </div>

        <div>
          <label for="address_province_{{ form.id }}">Province</label>
          <select name="address[province]" id="address_province_{{ form.id }}" value="{{ form.province }}"></select>
        </div>

        <div>
          <label for="address_zip_{{ form.id }}">Postal/ZIP code</label>
          <input type="text" name="address[zip]" id="address_zip_{{ form.id }}" value="{{ form.zip }}">
        </div>

        <div>
          <label for="address_phone_{{ form.id }}">Phone number</label>
          <input type="tel" name="address[phone]" id="address_phone_{{ form.id }}" value="{{ form.phone }}">
        </div>

        <div>
          {{ form.set_as_default_checkbox }}
          <label for="address_default_address_{{ form.id }}">Set as default address</label>
        </div>

        <div>
          <button type="submit">Create address</button>
          <button type="reset">Cancel</button>
        </div>
      {% endform %}
    </div>
  </div>

  <div>
    {% paginate customer.addresses by 10 %}
      <div>
        {% for address in customer.addresses %}
          <div x-data="{ address_{{ address.id }}: false }">
            <div>
              {% if address == customer.default_address %}
                <span>Default</span>
              {% endif %}

              <div>
                {{ address | format_address }}
              </div>

              <div>
                <button x-on:click="address_{{ address.id }} = true">Edit</button>
                <button data-url="{{ address.url }}" data-delete-address>Delete</button>
              </div>

              <form method="post" action="{{ address.url }}">
                <input name="_method" type="hidden" value="delete">
              </form>
            </div>

            <div x-show="address_{{ address.id }}">
              <div>
                <div>
                  <h2>Edit address</h2>
                  <button x-on:click="address_{{ address.id }} = false">{% render 'icon-close' %}
                  </button>
                </div>

                {% form 'customer_address', address %}
                  <div>
                    <label for="address_fname_{{ form.id }}">First name</label>
                    <input type="text" name="address[first_name]" id="address_fname_{{ form.id }}" value="{{ form.first_name }}">
                  </div>

                  <div>
                    <label for="address_lname_{{ form.id }}">Last name</label>
                    <input type="text" name="address[last_name]" id="address_lname_{{ form.id }}" value="{{ form.last_name }}">
                  </div>

                  <div>
                    <label for="address_company_{{ form.id }}">Company</label>
                    <input type="text" name="address[company]" id="address_company_{{ form.id }}" value="{{ form.company }}">
                  </div>

                  <div>
                    <label for="address_address1_{{ form.id }}">Address 1</label>
                    <input type="text" name="address[address1]" id="address_address1_{{ form.id }}" value="{{ form.address1 }}">
                  </div>

                  <div>
                    <label for="address_address2_{{ form.id }}">Address 2</label>
                    <input type="text" name="address[address2]" id="address_address2_{{ form.id }}" value="{{ form.address2 }}">
                  </div>

                  <div>
                    <label for="address_city_{{ form.id }}">City</label>
                    <input type="text" name="address[city]" id="address_city_{{ form.id }}" value="{{ form.city }}">
                  </div>

                  <div>
                    <label for="address_country_{{ form.id }}">Country</label>
                    <select name="address[country]" id="address_country_{{ form.id }}" value="{{ form.country }}" data-country-selector data-id="{{ form.id }}">
                      {{ all_country_option_tags }}
                    </select>
                  </div>

                  <div>
                    <label for="address_province_{{ form.id }}">Province</label>
                    <select name="address[province]" id="address_province_{{ form.id }}" value="{{ form.province }}"></select>
                  </div>

                  <div>
                    <label for="address_zip_{{ form.id }}">Postal/ZIP code</label>
                    <input type="text" name="address[zip]" id="address_zip_{{ form.id }}" value="{{ form.zip }}">
                  </div>

                  <div>
                    <label for="address_phone_{{ form.id }}">Phone number</label>
                    <input type="tel" name="address[phone]" id="address_phone_{{ form.id }}" value="{{ form.phone }}">
                  </div>

                  <div>
                    {{ form.set_as_default_checkbox }}
                    <label for="address_default_address_{{ form.id }}">Set as default address</label>
                  </div>

                  <div>
                    <button type="submit">Save</button>
                    <button type="reset">Cancel</button>
                  </div>
                {% endform %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endpaginate %}
  </div>
</div>