{% if cart.item_count > 0 %}
  <div class="cart">
      <div class="cart__main-heading-wrapper">
        <h1 class="cart__main-heading-title">Your cart</h1>
        <a class="cart__main-heading-link" href="{{ routes.all_products_collection_url }}">Continue shopping</a>
      </div>

      <div>
          <form class="cart__form" action="{{ routes.cart_url }}" method="POST" novalidate>
              <table class="table">
                  <thead class="table__head">
                      <th class="table__label">Product</th>
                      <th class="table__label">Quantity</th>
                      <th class="table__label">Total Price</th>
                  </thead>
                  <tbody class="table__body">
                      {% for item in cart.items %}
                          <tr class="table__row">
                              <td class="table__data">
                                  <a class="table__link" href="{{ item.url }}">
                                      {% if item.image %}
                                          <img class="table__img" src="{{ item.image | img_url: 'small'}}" alt="{{ item.title | escape }}">
                                      {% else %}
                                          {{ 'product-1' | placeholder_svg_tag: 'h-20 w-20 object-cover border' }}
                                      {% endif %}
                                  </a>
                                  <div>
                                    <a class="table__product-title" href="{{ item.url }}">{{ item.product.title | truncatewords: 5 }}</a>

                                    <div class="table__remove-product-wrapper">
                                        <a class="table__remove-product" href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0">Remove</a>
                                    </div>
                                  </div>
                              </td>
                              <td class="table__data">
                                  <input class="table__input" name="updates[]" value="{{ item.quantity }}" min="1" type="number" id="updates_{{ forloop.index }}">
                              </td>
                              <td class="table__data">
                                  {{ item.line_price | money }}
                              </td>
                          </tr>
                      {% endfor %}
                  </tbody>
              </table>

              <div>
                  <div>
                      {% for block in section.blocks %}
                          {% case block.type %}
                              {% when 'subtotal' %}
                                  <h3 class="cart__price">Subtotal:
                                      <span>
                                          {{ cart.total_price | money }}
                                      </span>
                                  </h3>

                               <div class="cart__btn-wrapper">   
                                    {% when 'update_button' %}
                                        <div>
                                            <button class="cart__btn" name="update" type="submit">Update</button>
                                        </div>

                                    {% when 'checkout_button' %}
                                        <div>
                                            <button class="cart__btn" name="checkout" type="submit">Checkout</button>
                                        </div>
                                </div>   
                              {% else %}

                          {% endcase %}
                      {% endfor %}
                  </div>
              </div>
          </form>
      </div>
  </div>

{% else %}
  <div class="cart">
      <div class="cart__wrapper">
          <h1 class="cart__empty-title">Your cart is empty</h1>

          <div class="cart__continue-shopping-link-wrapper">
              <a class="cart__continue-shopping-link" href="{{ routes.all_products_collection_url }}">Continue shopping</a>
          </div>
      </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Template Cart",
  "blocks": [
      {
          "type": "subtotal",
          "name": "Subtotal",
          "limit": 1
      },
      {
          "type": "update_button",
          "name": "Update Button",
          "limit": 1
      },
      {
          "type": "checkout_button",
          "name": "Checkout Button",
          "limit": 1
      }
  ]
}
{% endschema %}